/* Asterics to remove browser defaults and remove the outer white boundary */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color:rgb(55, 173, 242);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    position: fixed;
    box-shadow: 0 2px 2px #3a3a3a;

}

header a{
    text-decoration: none;
    justify-content: center;
    color: inherit;
}

#taskbar{
    list-style-type: none;
}

main {
    background-color:rgb(118, 215, 215);
    margin-top: 92px;
    flex: 1 0 auto;
}
footer {
    background-color: darksalmon;
}