@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

/* Asterics to remove browser defaults and remove the outer white boundary */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* To smooth the transition with buttons */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Arimo', sans-serif;
    display: flex;
}

header{
    background-color: antiquewhite;
    width: 100%;
    z-index: 99;
    position: fixed;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction:column;
    text-transform: uppercase;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul {
    display: block;
    text-align: center;
}

li {
    display: inline-block;
    margin-bottom: 10px;
}

.taskbar-button {
    font-size: 70%;
    list-style-type: none;
    border: none;
    color: #3a3a3a;
    background-color: white;
    padding: 10px 10px;
    border-radius: 200px;
    margin-left: 4px;
}

.taskbar-button:hover {
    color: white;
    background-color: #3a3a3a;
    cursor: pointer;
}

main {
    margin-top: 130px;
    flex: 1 0 auto;
}

#yoga-photos {
    display: block;
    width:90%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
}

.main-text {
    text-align: center;
    margin-top: 30px;
}
p {
    text-align: center;
    font-size: 110%;
    margin-left: 5px;
    margin-right: 5px;
}

#outdoor-yoga {
    text-align: center;
    margin-top: 20px;
}
#outdoor-yoga-image {
    display: block;
    width: 90%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h2 {
    font-size: 190%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: antiquewhite;
}

table {
    justify-content: center;
    width:100%;
    font-size: 110%;
    margin-top: 20px;
    margin-bottom: 25px;
    border-spacing: 5px;
}

td {
    text-align: center;
}

#form {
    text-align: center;
}

#form-inputs {
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact-us {
    background-color: antiquewhite;
}

#contact-below {
    text-decoration: underline;
}

#social-media {
    list-style-type: none;
    text-align: center;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-around;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.scroll-container {
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: antiquewhite;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
    width: 90%;
    height: 90%;
}

/* Media queries for tablets and larger 768px and up */
@media screen and (min-width: 768px){
    .taskbar-button {
        justify-content: space-around;
        font-size: 150%;
        margin-left: 30px;
    }

    h1{
        font-size: 210%;
    }

    h2{
        font-size: 190%;
    }

    p{
        font-size: 140%;
    }

    #fname, #lname, #email, #submit {
            height: 30px;
            font-size: large;
            margin-top: 8px;
        }
    
    table {
        font-size: 150%;
    }

    #social-media {
        font-size: 190%;
    }

    h4 {
        font-size: 190%;
    }

    #bottom-h4 {
        margin: auto;
    }
}

/* media query for laptop screens */
@media screen and (min-width: 992px){

        #outdoor-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            column-gap: 5px;
        }

        #outdoor-yoga-image {
            width: 100%;
            height: 100%;

        }
}